@font-face {
  font-family: "noto";
  src:
    url("/fonts/noto.otf") format("otf"),
}

.my_width {
  width: 200px;
}

.woodBackground {
  background-image: url("/wood.jpg");
  background-size: cover;
}

.libraryBackground {
  background-image: url("/library.png");
  background-size: cover;
  background-position-x: 25%;
}

.japanese_header {
  font-family: monospace;
}

.japanese {
  font-family: "accent";
}

.welcomeBox {
  padding-top: 42vh;
}

.top-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color: #FFFFFA;
}

@media (max-width: 640px) {
  .top-footer {
    height: 160px;
  }
}
